body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000; 
    color: #fff; 
}


h1 {
    color: #4CAF50; 
}


a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px; 
    background-color: #4CAF50; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    box-shadow: 0 4px #999; 
    transition: all 0.2s; 
}


a.button:hover {
    background-color: #45a049; 
    box-shadow: 0 2px #666; 
    transform: translateY(-2px); 
}


a.button:active {
    box-shadow: 0 1px #666; 
    transform: translateY(1px); 
}

input[type="file"] {
    margin-top: 20px;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #555; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

input[type="submit"]:hover {
    background-color: #666; 
}